# Supabase Storage Configuration
VITE_SUPABASE_URL="https://dylhcwjemoimazeprjbl.supabase.co"
VITE_SUPABASE_ANON_KEY="your_supabase_anon_public_key"

# Firebase Configuration
VITE_FIREBASE_API_KEY="your_api_key"
VITE_FIREBASE_AUTH_DOMAIN="crescentconnect.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="crescentconnect"
VITE_FIREBASE_STORAGE_BUCKET="crescentconnect.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="452537646306"
VITE_FIREBASE_APP_ID="your_web_app_id"

